<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ServiceNOW -APPEng Dashboard</title>

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/datepicker3.css" rel="stylesheet">
<link href="css/bootstrap-table.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/cs-skin-border.css" />
<link rel="stylesheet" type="text/css" href="css/cs-select.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap-select.css">

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>ServiceNOW</span>  APPEng</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <%= user.username %> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">

							<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>

		</div><!-- /.container-fluid -->
	</nav>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li><a href="/main"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
			<li class="active"><a href="/ticket"><span class="glyphicon glyphicon-th"></span> Tickets</a></li>
			<li><a href="/wi"><span class="glyphicon glyphicon-stats"></span>Teams</a></li>
			<li><a href="/stat"><span class="glyphicon glyphicon-list-alt"></span> Stats</a></li>

		</ul>

	</div><!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">Tickets</li>
			</ol>
		</div><!--/.row-->




		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Tickets Details</div>

					<div class="panel-body">
						Category:
					<select class="selectpicker"  data-width="100%">
						<option >Assigned</option>
						<option>Work In Progress</option>
						<option>Pending</option>
						<option>Resolved</option>
						<option>Closed</option>
						<option>All</option>
					</select>
						<table data-toggle="table" data-url="http://localhost:3000/ticketdetails?status=Assigned" id="ticketde"  data-show-refresh="true" data-page-size="20" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
						    <thead>
						    <tr>

						        <th data-field="number" data-sortable="true">Ticket No</th>
										<th data-field="u_environment" >Environment</th>
						        <th data-field="priority"  data-sortable="true">Priority</th>
						        <th data-field="assigned_to" data-sortable="true">Assigned To</th>
										<th data-field="incident_state" data-sortable="true">Status</th>
										<th data-field="short_description" >Description</th>

						    </tr>
						    </thead>
						</table>
					</div>
				</div>
			</div>
		</div><!--/.row-->







		<div class="row">
			<div class="col-md-6">

			</div>
			<div class="col-md-6">

			</div>
		</div><!--/.row-->


	</div><!--/.main-->

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-table.js"></script>
	<script type="text/javascript" src="js/bootstrap-select.js"></script>
	<script>



	$('.selectpicker').val('Assigned');
	$('.selectpicker').selectpicker('render');


	$(function() {

	$('.selectpicker').on('change', function(){
		var selected = $(this).find("option:selected").val();

			var $table = $('#ticketde');

			$table.bootstrapTable('refresh', {
									url: 'http://localhost:3000/ticketdetails?status='+selected
			});


	});

});




		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){
				$(this).find('em:first').toggleClass("glyphicon-minus");
			});
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})


	</script>
</body>

</html>
